.projectContainer{
    padding:4.8rem 0 4.8rem 0;
    display:flex;
    flex-direction: column;
    gap:3rem;
}
.SecondHeader{
    font-family: 'Inter';
    color:white;
    opacity: 0.8;
    font-size: 2.4rem;
    margin:0
}
.project{
    display:flex;
    gap:2rem;
}
.projectBox{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}
.projectImg{
    width:100%;
    border-radius: 1rem;
}
.imgContainer{
    max-width:57rem;
    height: 57rem;
}
.projectHeading{
    color:rgb(76, 230, 166);
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Inter';
    font-weight: 300;
}
.framer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
}
button{
    padding:1.5rem 2rem;
    background-color: rgb(5, 5, 5);
    border-radius: 1rem;
    font-size: medium;
    font-weight: 400;
    color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
    width:18rem;
}
.contact{
    font-size: 18rem;
    font-family: 'Inter';
    color:white;
    font-weight: 500;
    align-content: center;
    cursor: pointer;
}