.mainContainer{
    padding:0rem 0 0 2.4rem;
}
.projectgrid{
    display:grid;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
}
@media(max-width:784px){
    .projectgrid{
        grid-template-columns: 1fr;
    }
    .mainContainer{
        padding:0 0 0 0;
    }
}
